*{
/* 
CSS Reset
	resets premade margins & padding by brwoser. this way, its better to manipulate elements using 0 m & 0 p.
formula for dimension of element: (w/o box-sizing);
border+padding+margin + content(height/width)

w/ box-sizing - determines how dimensions of element will be calculated; border & padding will be included in computation
*/
	 
	box-sizing: border-box;
}

#div1{
/*
margin is space outside border.
padding is space in between content & border
*/	
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}

#div2{
	/*top/bottm; left/right
	margin:  25px 100px;*/
	/*top; left/right; top/bottom
	margin: 10px 70px 50px;*/
	/*top; right; bottom; left
	margin: 100px 10px 15px 50px;*/
	/*margin for specific side: ;
	margin-top:  10px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	/*contents of element will be aligned to the top of the box*/
	vertical-align: text-top;
}

#span1{
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}



}