*{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Open Sans", sans-serif;
}

/*navbar*/
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul{
	list-style-type: none;
}

/*multiple selector; used to select multiple selectors w diff type/class/id*/
/*nav .nav-logo, nav.nav{*/

nav li{
	margin: .5rem;
	display: inline-block;
	vertical-align: middle;
}

/*intro section*/
#intro{
	/*using % margin/padding will use n% of screen size as its margin/padding*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2, #intro > p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	/*font wight changes thickness of text element*/
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*info section*/
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2{
	/*to make it size by side in boxes instead of listed down*/
	margin-bottom: 1rem;
}
#info > div{ /*or class=card as .card instead of div*/
	/*to make it size by side in boxes instead of listed down*/
	border: 1px solid black;
	display: inline-block;
	/*using % for width will consume n% of user screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*aligns the .card element at top of their line*/
	vertical-align: top;
	/*min height-sets min height for content if it doesnt reach target height*/
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

/*pre-footer section*/
#prefooter{
	padding-left: 1%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom: 1%;
	text-align: left;
	background-color: midnightblue;
	color:  whitesmoke;
}

#prefooter > h4{
	margin-bottom: 1rem;
}

#prefooter > div{
	border: 1px;
	display: inline-block;
	width: 20%;
	margin-left: 1px;
	margin-right: .5rem;
	padding: 5px;
	vertical-align: bottom;
}

#prefooter h4, #prefooter li{
	margin-bottom: .5rem;
}

#prefooter li{
		list-style-type: none;
}



/*footer*/
footer{
	padding: .8rem;
	/*text-align:  center; for centering footer*/
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}
